@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&display=swap');



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(pics/1.jpg);
    /*opacity: 0.5;*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

}

.container1 {
    padding: 10x 10%;
}

.logo1 {
    width: 50px;
    margin-top: 0px;
    border-radius: 30px;
}

nav {
    top: 0;
    overflow: hidden;
    width: 100%;
    /*margin-left: 10%;
    margin-right: 10%;
    */
    position: fixed;
    z-index: 1;
    vertical-align: middle;
    /*background:#262626;
    */
    backdrop-filter: blur(30px);
    border: 3px solid;
    border-radius: 10px;
    opacity: 3;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
}



nav ul li {
    display: inline;
    list-style: none;
    margin: 10px 30px;
}

nav ul {
    margin-left: 300px;
}

nav ul li a {
    /*transition:all 2s ease;*/
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

nav ul li a::after {
    /*transition: all 2s ease;
    */
    content: "";
    width: 0;
    height: 8px;
    background: #ffffff;
    /*opacity: 0.3;
    z-index: -1;
    */
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

nav ul li a:hover::after {
    /* transform:scale(1.2,1.2) translate3d(0,0,0);*/
    width: 100%;
}

.header1 {
    height: 100vh;
    width: 100%;
}

#headtext h1 {
    font-family: 'Alkatra', cursive;
    font-size: 60px;
    border: 2px black solid;
    border-radius: 10px;
    margin: 20% 10%;
    /* background-color: darkgrey;*/
    backdrop-filter: blur(13px);
    text-align: center;
    color: #000000;
}

.container2 {
    height: 500px;
    width: 100%;
    /*border: 4px solid black;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#head1, #head2, #head3 {
    font-family: 'Alkatra', cursive;
    color: #ffffff;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.webd, .appd, .dsa {
    color: #ffffff;
    justify-content: center;
    /*align-items:baseline;*/
    transition: transform 0.4s;
    background-color: rgb(9, 8, 22);
    box-shadow: 10px 10px #000000;
    backdrop-filter: blur(5px);
    height: 200px;
    width: 20%;
    margin: 19px 84px;
    padding: 8px 12px;
    /*border: 4px solid black;*/
    border-radius: 10px;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}

.webd:hover, .appd:hover, .dsa:hover {
    /*background-color: #262626;
   */
    transform: scale(1.2);
}

#web1, #web2, #web3, #web4, #web5, #web6 {
    font-family: 'Alkatra', cursive;
    /* margin-top: 10px;*/
    text-align: center;
    font-size: 20px;
}

#dsa1, #dsa2, #dsa3, #dsa4, #dsa5, #dsa6 {
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 20px;
}

#app1, #app2, #app3, #app4, #app5, #app6 {
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 20px;
}

.logo2 {
    /*text-align: center;
    font-size: 25px;*/
    /*margin-left: 40%;*/
    /*margin-right: auto;*/
    width: 15%;
}

.text {
    font-family: 'Alkatra', cursive;
    backdrop-filter: blur(5px);
    font-weight: 900;
    color: #000000;
    padding: 41px;
    font-size: 30px;
    text-shadow: 1px 1px #ffffff;
}

/*.text:hover{
    background-color: rgb(9, 8, 22);
    border:6px solid black ;
    margin:10px;
}*/

.links a {
    margin: 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}